header {
  background-color: rgb(107, 103, 103);
}
h1,
h2 {
  text-align: center;
  color: rgb(240, 82, 9);
}
.container {
  text-align: center;
  font-size: 18px;
}
li {
  list-style: none;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
.piwnica {
  background-color: rgb(107, 103, 103);
}
footer h2 {
  text-align: center;
  color: rgb(240, 82, 9);
}
