* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in;
}
header {
  background-color: rgb(107, 103, 103);
}
h1,
h2 {
  text-align: center;
  color: rgb(240, 63, 9);
}
.container {
  font-size: 18px;
  background-color: gray;
  display: block;
}
ul {
  word-spacing: 4px;
}
li {
  list-style: none;
  color: white;

  padding: 10px 5px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
li:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
li:nth-child(odd) {
  background-color: rgb(125, 46, 199);
}
li:nth-child(even) {
  background-color: rgb(175, 108, 238);
}
li:active {
  background-color: rgb(216, 50, 86);
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
main div {
  width: 500px;
  margin: 0 auto;
}
.piwnica {
  background-color: rgb(107, 103, 103);
  height: 50px;
}
footer {
  margin-top: 20px;
}
footer h2 {
  text-align: center;
  color: rgb(240, 82, 9);
}
